@using Alfred.Client.Models.Components
@using Alfred.Client.Services.Interfaces
@inherits Microsoft.AspNetCore.Components.LayoutComponentBase
@inject IAuthService AuthService
@inject IJSRuntime JsRuntime
@inject NavigationManager Navigation
<RadzenHeader class="bg-dark text-light border-0 top-level">
    <ChildContent>
        <div class="row justify-content-start align-items-center">
            <div class="col-6 d-flex align-items-center">
                <RadzenSidebarToggle Click="@(args => { _sidebarExpanded = !_sidebarExpanded; _bodyExpanded = !_bodyExpanded; })" class="bg-dark text-light border-0">
                </RadzenSidebarToggle>
                <RadzenLabel Text="Alfred">
                </RadzenLabel>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-end">
                <RadzenProfileMenu class="bg-dark" style="border: 0; vertical-align: middle">
                    <Template>
                        <RadzenGravatar Email="@AuthService.User?.Email"/>
                    </Template>
                    <ChildContent>
                        <RadzenProfileMenuItem Text="Accounts" Path="@_accountsUrl" Icon="account_circle"/>
                        <RadzenProfileMenuItem Text="Logout" Path="@_logOutUrl" Icon="login"/>
                    </ChildContent>
                </RadzenProfileMenu>
            </div>
        </div>
    </ChildContent>
</RadzenHeader>
<div style="width:100%; height: 100%" class="bg-light text-dark">
    <RadzenBody @bind-Expanded="@_bodyExpanded">
        <ChildContent>
            <RadzenContentContainer Name="main">
                <RadzenNotification/>
                <RadzenDialog/>
                @Body
            </RadzenContentContainer>
        </ChildContent>
    </RadzenBody>
</div>
<RadzenSidebar @bind-Expanded="@_sidebarExpanded" style="margin-top: 50px" class="top-level">
    <ChildContent>
        <RadzenPanelMenu>
            @foreach (var item in _menu)
            {
                <RadzenPanelMenuItem Text="@item.Text" Path="@item.Path" Icon="@item.Icon">
                    @if (item.Children != null)
                    {
                        @foreach (var childItem in item.Children)
                        {
                            <RadzenPanelMenuItem Text="@childItem.Text" Path="@childItem.Path" Icon="@childItem.Icon"/>
                        }
                    }
                </RadzenPanelMenuItem>
            }
        </RadzenPanelMenu>
    </ChildContent>
</RadzenSidebar>

@code {
    bool _sidebarExpanded = true;
    bool _bodyExpanded = false;
    string _accountsUrl = "https://staging.accounts.excelmec.org";
    string _logOutUrl;

    protected override void OnInitialized()
    {
        _logOutUrl = _accountsUrl + "/auth/logout?redirect_to=" + Navigation.Uri;
    }

    List<MenuItem> _menu = new List<MenuItem>()
    {
        new MenuItem()
        {
            Text = "Dashboard",
            Path = "/",
            Icon = "home",
            Children = null
        },
        new MenuItem()
        {
            Text = "Accounts",
            Icon = "account_balance_wallet",
            Children = new List<MenuItem>()
            {
                new MenuItem()
                {
                    Text = "Users",
                    Path = "/Admin/Users",
                    Icon = "people_alt",
                    Children = null
                },
                new MenuItem()
                {
                    Text = "Staffs",
                    Path = "/Admin/Staffs",
                    Icon = "engineering",
                    Children = null
                },
            }
        },
        new MenuItem()
        {
            Text = "Certificates",
            Path = "/Certificates",
            Icon = "assignment_ind",
            Children = null
        },
        new MenuItem()
        {
            Text = "Events",
            Icon = "extension",
            Children = new List<MenuItem>()
            {
                new MenuItem()
                {
                    Text = "List Events",
                    Path = "/Events",
                    Icon = "list",
                    Children = null
                },
                new MenuItem()
                {
                    Text = "Event Heads",
                    Path = "/Events/EventHeads",
                    Icon = "contact_phone",
                    Children = null
                },
                new MenuItem()
                {
                    Text = "Highlights",
                    Path = "/Events/Highlights",
                    Icon = "photo_album",
                    Children = null
                }
            }
        },
        new MenuItem()
        {
            Text = "Prelims",
            Path = "/Prelims",
            Icon = "assignment",
            Children = null
        }
    };

}