@page "/Events/Add"
@using Alfred.Client.Dtos.Events
@using Alfred.Client.Models.Components
@using Alfred.Client.Pages.Events.Components
@using Alfred.Client.Services.Interfaces
@using Tewr.Blazor.FileReader
@inject IFileReaderService FileReader
@inject IConstantRepository ConstantRepo
@inject IJSRuntime JsRuntime
@inject IApiService ApiService
@inject NotificationService Notification


<AuthorizedView Roles="Admin">
    <RadzenTemplateForm Data="@_newEvent" Submit="@(async (DataForAddingEventDto args) => { await Submit(args); })">
        <div class="row">
            <div class="col-md-6">
                <EventInfo NewEvent="@_newEvent" Icon="@_icon"/>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <Schedule NewEvent="@_newEvent"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <MoreDetails NewEvent="@_newEvent" EventHeads="@_eventHeads"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save"/>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel"/>
            </div>
        </div>
    </RadzenTemplateForm>

    @if (_loading)
    {
        <div class="spinner"></div>
    }
</AuthorizedView>
<style>
    .row{
        margin-top: 10px;
    }
    .file{
        font-size: 15px;
    }
    .bool{
        margin-right: 5px;
    }
</style>

@code{
    DataForAddingEventDto _newEvent;
    bool _loading = false;
    List<EventHead> _eventHeads;

    CustomFile _icon;

    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        ConstantRepo.OnChange += StateHasChanged;
        _newEvent = new DataForAddingEventDto();
        _icon = new CustomFile();
        var client = await ApiService.Client();
        _eventHeads = await client.GetFromJsonAsync<List<EventHead>>("/events/api/eventhead");
        _loading = false;
    }


    void Cancel()
    {
        _icon.Data?.Dispose();
        _icon = new CustomFile();
        _newEvent = new DataForAddingEventDto();
    }


    async Task Submit(DataForAddingEventDto newEvent)
    {
        _loading = true;
        try
        {
            var client = await ApiService.Client();
            var content = new MultipartFormDataContent();
            content.Headers.ContentDisposition = new System.Net.Http.Headers.ContentDispositionHeaderValue("form-data");
            content.Add(new StringContent(newEvent.Name), "Name");
            content.Add(new StreamContent(_icon.Data, (int) _icon.Data.Length), "Icon", _icon.Name);
            content.Add(new StringContent(newEvent.CategoryId.ToString()), "CategoryId");
            content.Add(new StringContent(newEvent.EventTypeId.ToString()), "EventTypeId");
            content.Add(new StringContent(newEvent.About), "About");
            content.Add(new StringContent(newEvent.Format), "Format");
            content.Add(new StringContent(newEvent.Rules), "Rules");
            content.Add(new StringContent(newEvent.Venue), "Venue");
            content.Add(new StringContent(newEvent.Day.ToString()), "Day");
            content.Add(new StringContent(newEvent.Datetime.ToLongDateString()), "Datetime");
            content.Add(new StringContent(newEvent.NumberOfRounds.ToString()), "NumberOfRounds");
            content.Add(new StringContent(newEvent.CurrentRound.ToString()), "CurrentRound");
            content.Add(new StringContent(newEvent.EventStatusId.ToString()), "EventStatusId");
            content.Add(new StringContent(newEvent.EntryFee.ToString()), "EntryFee");
            content.Add(new StringContent(newEvent.PrizeMoney.ToString()), "PrizeMoney");
            content.Add(new StringContent(newEvent.NeedRegistration.ToString()), "NeedRegistration");
            content.Add(new StringContent(newEvent.IsTeam.ToString()), "IsTeam");
            content.Add(new StringContent(newEvent.EventHead1Id.ToString()), "EventHead1Id");
            content.Add(new StringContent(newEvent.EventHead2Id.ToString()), "EventHead2Id");
            var response = await client.PostAsync("/events/api/events", content);
            if (response.IsSuccessStatusCode)
            {
                var successMessage = new NotificationMessage()
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "Success",
                    Detail = "Successfully Added new Event",
                    Duration = 4000
                };
                Notification.Notify(successMessage);
                _icon.Data?.Dispose();
                _icon = new CustomFile();
                _newEvent = new DataForAddingEventDto();
            }
            else
            {
                var errorMessage = new NotificationMessage()
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = "Error During uploading",
                    Duration = 4000
                };
                Notification.Notify(errorMessage);
            }
            client.Dispose();
            Cancel();
        }
        catch (Exception e)
        {
            var errorMessage = new NotificationMessage()
            {
                Severity = NotificationSeverity.Error,
                Summary = "Error",
                Detail = e.Message,
                Duration = 4000
            };
            Notification.Notify(errorMessage);
        }
        _loading = false;
    }

}