@using Alfred.Client.Dtos.Admin
@inject IUserRepository UserRepo

<div class="row">
    <div class="col-md-10">
        <RadzenTextBox Placeholder="Excel-Id or Email" @bind-value="@_searchValue" Style="width: 100%"/>
    </div>
    <div class="col-md-2">
        <RadzenButton Icon="search" style="width: 100%" Click="Search"/>
    </div>
</div>

@if (_candidates.Any())
{
    <div class="row">
        <div class="col-md-12">
            <RadzenPanel>
                <ChildContent>
                    <RadzenDataList PageSize="1" WrapItems="true" AllowPaging="true"
                                    Data="@_candidates" TItem="UserForListViewDto">
                        <Template Context="candidate">
                            <RadzenCard>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>Excel Id:</div>
                                        <b>@candidate.Id</b>
                                        <div style="margin-top:20px">Name:</div>
                                        <b>@candidate.Name</b>
                                        <div style="margin-top:20px">Email:</div>
                                        <b>@candidate.Email</b>
                                        <br/>
                                        <RadzenImage Path="@candidate.Picture" Style="width:100px;"/>
                                    </div>
                                    <div class="col-md-6">
                                        <div>Gender:</div>
                                        <b>@candidate.Gender</b>
                                        <div style="margin-top:20px">Phone Number:</div>
                                        <b>@candidate.MobileNumber</b>
                                        <div style="margin-top:20px">QRCode:</div>
                                        <RadzenImage Path="@candidate.QRCodeUrl" Style="width:100px;"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <RadzenButton Icon="person_add" Click="@(()=>Submit(candidate))" Text="Add User"/>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <RadzenButton Icon="close" Click="Cancel" Text="Cancel"/>
                                    </div>
                                </div>
                            </RadzenCard>
                        </Template>
                    </RadzenDataList>
                </ChildContent>
            </RadzenPanel>
        </div>
    </div>
}

@if (_loading)
{
    <div class="spinner"></div>
}

<style>
    .row{
        margin-top: 10px;
    }
</style>

@code{
    List<UserForListViewDto> _candidates;
    bool _loading = false;
    public string _searchValue;

    async Task Submit(UserForListViewDto candidate)
    {
        _loading = true;
        if (candidate.Role == "User")
        {
            var dataForUpdatingRole = new DataForUpdatingRoleDto()
            {
                Id = candidate.Id,
                Role = "User,Staff"
            };
            await UserRepo.UpdateRole(dataForUpdatingRole);
            Cancel();
        }
        else
        {
            Notification.Info("Candidate Already a staff, Contact Admin for further details");
        }
        _loading = false;
    }

    protected override void OnInitialized()
    {
        _candidates = new List<UserForListViewDto>();
    }

    void Cancel()
    {
        Dialog.Close();
    }

    async Task Search()
    {
        int id;
        var query = new GetUserQueryParams();
        if (Int32.TryParse(_searchValue, out id))
        {
            query.Id = id;
        }
        else
        {
            query.Email = _searchValue;
        }
        _candidates = await UserRepo.GetUsers(query);
    }

}